@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

li, a {
  font-weight: 500;
  font-size: 14px;
}

h1 {
  font-size: 2rem;
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  margin-right: auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  margin-right: auto;
  align-items: center;
}

.happy {
  display: inline-flex;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 8px;
}

.nav__links li a {
  transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
  color: #9dc183;
}

img {
  max-height: 300px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}





.parallax2 {
  /* The image used */
  background-image: url('images/walking.png');

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-me-container {
  align-content: center;
  max-width: 900px;
  text-align: center;
  padding: 50px;
}

.text--green{
  color: #9dc183; 
}

.body {
  text-align: center;
  width: 500px;
}

h2 {
  padding-top: 20px;
  font-size: 25px;
}


h3 {
  padding-bottom: 50px;
}

.body {
  padding-top: 50px;
}

.body1 {
  padding: 100px;
  max-width: 500px;
}

p2 {
  font-size: 20px;
}

.hidden {
  display: none;
}

#reveal-button:active + #rose + #text + #no-button + #yes-button + #love-button  {
  display: block;
  display: contents;
}

#reveal-button {
  align-self: center;
  display: inline-block;
}

#love-button {
  display: block;
  align-self: center;
  
}

#no-button:active {
  display: block;
  display: contents;
}

#yes-button + #no-button{
  align-self: center;
  display: inline-block;
}